<a href="{{link}}" class="nav__item">
	{{{ItemImg}}}
<!--    <img src="{{iconPath}}" alt="{{iconAlt}}" class="{{nav__item-img}}">-->
    <span class="nav__item-text fz-20">
        {{text}}
    </span>
</a>
