<div class="chat">
    <div class="chat__header">
			<div class="chat__title">
				{{{ChatLogo}}}
				<span class="fz-25">
					{{ChatName}}
				</span>
			</div>
			<div class="chat__header-contacts-section">
				<div class="chat__title-contacts">
					{{#each Contacts}} {{{this}}} {{/each}}
				</div>
				{{{AddContactForm}}}
			</div>
    </div>
    {{{chatWrapper}}}
    {{{form}}}
</div>
