<div class="contacts__list_item" id={{contactID}}>
	{{{activeContactImg}}}
    <div class="status {{statusClass}}"></div>
    <div class="contacts__list_item-wrapper">
        <div class="contacts__list_item-text">
            {{name}}
            <span class="{{class}}"> {{status}} </span>
        </div>
			{{{message}}}
			{{{del}}}
    </div>
				{{{message}}}
				{{{del}}}
</div>
