<div class="contacts__list_item">
	{{{activeContactImg}}}
	<div class="status {{statusClass}}"></div>
    <div class="contacts__list_item-wrapper">
			<div class="message__item_wrapper" id={{id}}>
				<div class="message__item fz-14b">
						{{name}}
					<span class="message__item-date fz-14l"> {{date}} </span>
				</div>
				<div class="message__item_body p12">
					{{messageText}}
				</div>
			</div>
			<div class="message__item_btns">
				{{{message}}}
				{{{del}}}
			</div>
    </div>
</div>
