<div class="contacts__list_item">
    <img src="{{src}}" alt="{{alt}}" class="user"/>
    <div class="status {{class}}"></div>
    <div class="contacts__list_item-wrapper">
        <div class="contacts__list_item-text">
            {{name}}
            <span class="{{class}}"> {{status}} </span>
        </div>
        <button type="button" class="contacts__list_item-btn mess">
            <img src="../icons/message.svg" alt="сообщение">
        </button>
        <button type="button" class="contacts__list_item-btn trash">
            <img src="../icons/trash.svg" alt="удаление">
        </button>
    </div>
</div>
