<div class="background">
		<div class="main">
				<nav class="main__navigation">
						<div class="main__navigation_header">
							{{{UserImage}}}
							{{{HeaderText}}}
						</div>
					{{#each NavItems}} {{{this}}} {{/each}}
						{{{NavigationOpenBtn}}}
					{{{NavigationCloseBtn}}}
				</nav>
		</div>
</div>
